* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.app {
  font-family: 'Roboto';
  font-weight: 100;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  width: 60%;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.field {
  margin-bottom: 10px;
}
  